#p_p_id_56_INSTANCE_sHuEOO5yqU9U_ .teaser {
color: white;
height: 90vh;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}


